* {
	box-sizing: border-box;
}

h1 {
	/* Door Access System Biosecurity Briefing */
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	color: #2A2A2A;
	margin-bottom: 40px;
}

h2 {
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	margin-bottom: -10px;
	color: #000000;
}

.request-form-h2 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 135%;
	/* or 24px */
	margin-bottom: 15px;
	color: #000000;
}

body {
	width: 1020px;
	margin: 0 auto;
	background-color: rgb(248, 248, 255);
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: normal;
}


/* Form styles  */
label {
	display: table;
	z-index: 1000;
	margin: 0px auto;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	background-color: rgb(255, 255, 255);
	margin-bottom: -6px;
	margin-left: 20px;
	color: #707C8B;
}


input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],
select,
textarea {
	border: 1px solid gray;
	position: relative;
	line-height: 3ex;
	width: calc(100% - 0px);
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #cccccc;
	border-radius: 10px;
	box-sizing: border-box;
	font-size: 16px;
	color: #1F2C2A;
}

select {
	border: 1px solid gray;
	width: calc(100% - 0px);
	padding: 13px;
	border: 1px solid #cccccc;
	border-radius: 10px;
	font-size: 16px;
	color: #1F2C2A;
}

form {
	display: flex;
	flex-wrap: wrap;
	/* Gap between items */
	gap: 20px;
}

textarea {
	width: 100%;
}

/* remove browser form defaults */
input:-webkit-autofill,
input:-webkit-autofill:focus {
	transition: background-color 0s 600000s, color 0s 600000s !important;
}

.h2-plus-icon {
	margin-left: 50px;
}

.form-container {
	background-color: #ffffff;
	padding: 50px;
	border-radius: 8px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.input-group {
	display: flex;
	align-items: center;
	width: 900px;
	gap: 20px;
}

.documents-checkbox-accept {
	display: flex;
	align-items: center;
	color: #1F2C2A;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
}

.documents-checkbox-accept input {
	margin-top: -15px;
	width: 25px;
	height: 25px;
	border-radius: 3px;
	cursor: pointer;
}

.documents-checkbox-margin input {
	margin-top: -60px;
	width: 25px;
	height: 25px;
	border-radius: 3px;
	cursor: pointer;
}

.documents-checkbox-accept input[type='checkbox']:checked {
	accent-color: #E75B28;
}

.input-group span {
	flex: 1;
	padding-left: 25px;
}








.input-wrapper {
	position: relative;
}

/* Two items per row, accounting for gap */
.label-input-group {
	display: flex;
	flex-direction: column;
	flex-basis: calc(50% - 10px);
}

.label-input-group p {
	margin: -10px 0px 0px 5px;
	color: red;
}

.label-textarea-group p {
	margin: -10px 0px 0px 5px;
	color: red;
}

.error-alert {
	margin: 0px 0px 0px 55px;
	color: red;
}

.label-textarea-group {
	display: flex;
	flex-direction: column;
	flex-basis: calc(100% - 0px);
	margin-top: -15px;
}

.h2-blocklevel {
	display: flex;
	flex-direction: column;
	flex-basis: calc(100% - 15px);
}

/* Three items per row, accounting for gap */
.label-input-group.three-col {
	flex-basis: calc(33.333% - 14px);
}

/* Hide the default checkbox */
.toggle input {
	display: none;
}

/* Style the slider */
.slider {
	position: relative;
	display: inline-block;
	width: 90px;
	height: 31.5px;
	background-color: #ccc;
	border-radius: 34px;
	transition: background-color 0.3s;
}

/* Style the circle inside the slider */
.slider:before {
	position: absolute;
	content: "No";
	font-size: 16px;
	width: 50px;
	height: 26px;
	left: 4px;
	bottom: 2.5px;
	background-color: #e75b29;
	color: whitesmoke;
	border-radius: 34px;
	text-align: center;
	line-height: 25px;
	transition: transform 0.3s, content 0.3s;
}

/* Change background color when checked */
.toggle input:checked+.slider {
	background-color: #3a716c;
}

.position-toggle {
	margin-left: 20px;
	margin-bottom: -10px;
}

/* Move the circle and change text when checked */
.toggle input:checked+.slider:before {
	transform: translateX(32px);
	content: "Yes";
}

/* -------------------------toggle-end-------------------- */

.button-group {
	display: flex;
	justify-content: space-between;
	/* width: 1000px; */
}

.next-button {
	width: 100%;
	height: 75px;
	font-size: 24px;
	color: whitesmoke;
	background-color: #3a716c;
	border-radius: 7px;
	border: none;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
}

.next-button-50 {
	width: 49%;
	height: 75px;
	font-size: 24px;
	color: whitesmoke;
	background-color: #3a716c;
	border-radius: 7px;
	border: none;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
}

.back-button-50 {
	width: 49%;
	height: 75px;
	font-size: 24px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	background-color: #E9EAEA;
	border-radius: 7px;
	border: none;
}

.color-alert {
	font-weight: bold;
	color: #e75b29;
	margin-top: 0px;
}

/* --!!!!!!!!!!!!!!- we will remove this place holder for the actual signature component  */
.signature-div {
	height: 150px;
	width: 100%;
	background-color: #cccccc74;
	border-radius: 5px;
	border: 3px dashed rgba(0, 0, 0, 0.15);
	margin-bottom: 25px;
}

.signature-div p {
	color: rgba(128, 128, 128, 0.61);
	text-align: center;
	margin-top: 60px;
}

.lay-container {
	width: 1200px;
	margin: 0 auto;
}

.label-margin-bottom {
	margin-top: -10px;
	margin-bottom: 20px;
}

.animalWelfareInput {
	display: flex;
	align-items: center;
	color: #1F2C2A;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
}

.animalWelfareInput input {
	margin-top: -45px;
	margin-right: 15px;
	width: 45px;
	height: 45px;
	border-radius: 3px;
	cursor: pointer;
}

.animalWelfareInput input[type='checkbox']:checked {
	accent-color: #E75B28;
}

.para-styles {
	margin-top: -20px;
	margin-left: 50px;
	color: #1F2C2A;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	font-family: 'Poppins';
}

.document-para {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	/* or 162% */
	margin-left: 35px;
	color: #2A2A2A;
}



.ellipse {
	margin-right: 10px;
	width: 24px;
	height: 24px;
	background-color: #2C615C;
	border-radius: 50%;
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	color: #FFFFFF; 
	display: inline-block;
	line-height: 24px; /* Center the text vertically */
	vertical-align: middle; /* Align the span with other elements if needed */
	position: relative; /* For absolute positioning of the number */
}


.container {
	display: flex;
	align-items: center;
  }
  .container h2 {
	margin-top: -10px;
  }